.sad-icon{ 
    background-image: url(/rsrc.php/v3/ym/r/Z2RVuHqAilK.png);
    background-size: 97px 2042px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -38px -1187px;
    width: 18px;
    height: 18px;
}