.sad-icon-solo{ 
    background-image: url(/rsrc.php/v3/ym/r/Z2RVuHqAilK.png);
    background-size: 97px 2042px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -38px -1187px;
    width: 18px;
    height: 18px;
}

._37uu ._610i ._4x9_._48-k.sad-icon::before, ._sa_ ._37uu ._610i ._48-k.sad-icon::before, ._sa_._37uu ._610i ._48-k.sad-icon::before, ._1-26 ._4x9_._48-k.sad-icon::before {
    background-image: url(/rsrc.php/v3/ym/r/Z2RVuHqAilK.png);
    background-size: 97px 2042px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -38px -1187px;
    width: 18px;
    height: 18px;
}